@using DynamicDataCore
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<JsonLocalizer> _localizer
@{
    ViewData["Page_Title"] = ViewBag.DbSetName;
    Layout = "_CoreAdminLayout";
}

<span class="page-header">
    <h1>
        @ViewBag.DbSetName
        <small>
            @_localizer["View"]
        </small>
    </h1>
</span>

<form>
    @* <fieldset disabled> *@
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        object propertyValue = Model.GetType().GetProperty(property.PropertyName)?.GetValue(Model);
        bool isRequired = property.IsRequired; // Check if the field is required
        bool isPrimaryKey = ViewBag.PrimaryKeys.Keys.Contains(property.PropertyName) ?? false; // Check if the field is a primary key

        <div class="form-group row">
            
            <label for="input_@property.PropertyName" class="col-sm-3 col-form-label">
                @property.GetDisplayName()
            </label>

            <div class="col-sm-9">
                @Html.Display(property.PropertyName, $"input_{property.PropertyName}", propertyValue)
            </div>

        </div>


        <dt>
            @property.GetDisplayName()
            @if (isRequired || isPrimaryKey)
            {
                <span class="text-danger">*</span>
            }
        </dt>
        <dd class="@(isPrimaryKey ? "text-info" : "")">
            
        </dd>
    }
    @* </fieldset> *@
</form>

<h3 class="display-3">Html.ActionLink</h3>

<div class="row">
    <div class="col-md-12">
        <p class="mt-2">
            @Html.ActionLink(@_localizer["GoBack"], "Index", new { Id = ViewBag.DbSetName }, new { @class = "btn btn-secondary" })
        </p>
    </div>
</div>
