@using DynamicDataCore
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<JsonLocalizer> _localizer
@{
    ViewData["Page_Title"] = ViewBag.DbSetName;
    Layout = "_CoreAdminLayout";
}

<h1 class="display-4">@ViewBag.DbSetName > <i>@_localizer["View"]</i></h1>

<dl class="row">
    @foreach (var property in ViewData.ModelMetadata.Properties)
    {
        object propertyValue = Model.GetType().GetProperty(property.PropertyName)?.GetValue(Model);
        bool isRequired = property.IsRequired; // Check if the field is required
        bool isPrimaryKey = ViewBag.PrimaryKeys.Keys.Contains(property.PropertyName) ?? false; // Check if the field is a primary key

        <dt class="col-sm-3">
            <span style="@(isPrimaryKey ? "text-decoration: underline;" : "") text-end">
                @Html.Label(property.PropertyName)
                @if (isRequired)
                {
                    <span class="text-danger">*</span>
                }
            </span>
        </dt>
        <dd class="col-sm-9">@Html.Display(property.PropertyName, propertyValue)</dd>
    }
</dl>

<h3 class="display-3">Html.ActionLink</h3>

<div class="row">
    <div class="col-md-12">
        <p class="mt-2">
            @Html.ActionLink(@_localizer["GoBack"], "Index", new { Id = ViewBag.DbSetName }, new { @class = "btn btn-secondary" })
        </p>
    </div>
</div>
